<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.heycolor.yunziyuanbackend.mapper.infoMapper">
    <select id="selectInfo" resultType="com.heycolor.yunziyuanbackend.DAOinfo.infoBean" >SELECT * FROM mydata</select>
    <insert id="infoAdd">
        INSERT INTO mydata
        (data_title,
         data_img_list,
         data_img_mx,
         data_url,
         data_good,
         data_dir,
         data_type,
         data_country,
         data_year,
         data_note,
         count_people,
         count_score,
         gmt_create
        )
        VALUES
            (#{data_title},
             #{data_img_list},
             #{data_img_mx},
             #{data_url},
             #{data_good},
             #{data_dir},
             #{data_type},
             #{data_country},
             #{data_year},
             #{data_note},
             #{count_people},
             #{count_score},
             #{gmt_create}
            )
    </insert>

    <insert id="infoLikeAdd">
        INSERT INTO user_like
        (user_number,
         data_id
        )
        VALUES
            (#{user_number},
             #{data_id}
            )
    </insert>
    <delete id="infoLikeDel">
        DELETE FROM user_like
        WHERE user_number = #{user_number}
          AND data_id = #{data_id}
    </delete>

    <select id="infoLikeGet" resultType="boolean">
        SELECT IF(COUNT(*) > 0, true, false)
        FROM user_like
        WHERE user_number = #{user_number}
          AND data_id = #{data_id}
    </select>

    <select id="infoLikeCount" resultType="int">
        SELECT COUNT(*) FROM user_like
        WHERE data_id = #{data_id}
    </select>

    <insert id="infoPingfenAdd">
        INSERT INTO user_pingfen
        (user_number,
         data_id,
         count_score
        )
        VALUES
            (#{user_number},
             #{data_id},
             #{count_score}
            )
    </insert>
    <update id="infoPingfenDataAdd" >
        UPDATE mydata
        SET
            count_people = count_people + 1,
            count_score = count_score + #{count_score}
        WHERE id = #{data_id}
    </update>


    <select id="infoPingfenGet" resultType="com.heycolor.yunziyuanbackend.DAOinfo.pingfenBean">
        SELECT * FROM user_pingfen
        WHERE user_number = #{user_number}
          AND data_id = #{data_id}
    </select>

    <insert id="infoCollectionAdd">
        INSERT INTO user_collection
        (user_number,
         data_id,
         data_title,
         data_img_list
        )
        VALUES
            (#{user_number},
             #{data_id},
             #{data_title},
             #{data_img_list}
            )
    </insert>
    <delete id="infoCollectionDel">
        DELETE FROM user_collection
        WHERE user_number = #{user_number}
          AND data_id = #{data_id}
    </delete>
    <select id="infoCollectionGet" resultType="boolean">
        SELECT IF(COUNT(*) > 0, true, false)
        FROM user_collection
        WHERE user_number = #{user_number}
          AND data_id = #{data_id}
    </select>

    <select id="infoCollectionGetAll" resultType="com.heycolor.yunziyuanbackend.DAOinfo.collectionBean">
        SELECT * FROM user_collection
        WHERE user_number = #{user_number}
    </select>


    <insert id="infoCommentAdd">
        INSERT INTO user_comment
        (user_number,
         data_id,
         comment,
         create_time
        )
        VALUES
            (#{user_number},
             #{data_id},
             #{comment},
             #{create_time}
            )
    </insert>
    <select id="infoCommentGetAll" resultType="com.heycolor.yunziyuanbackend.DAOinfo.commentBean">
        SELECT * FROM user_comment
        WHERE data_id = #{data_id}
    </select>


    <delete id="infoCommentDel">
        DELETE FROM user_comment
        WHERE id = #{id}
          AND user_number = #{user_number}
    </delete>

</mapper>
