<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.heycolor.yunziyuanbackend.mapper.infoMapper">
    <select id="selectInfo" resultType="com.heycolor.yunziyuanbackend.DAOinfo.infoBean" >SELECT * FROM mydata</select>
    <insert id="infoAdd">
        INSERT INTO mydata
        (data_title,
         data_img_list,
         data_img_mx,
         data_url,
         data_good,
         data_dir,
         data_type,
         data_country,
         data_year,
         data_note,
         count_people,
         count_score,
         gmt_create
        )
        VALUES
            (#{data_title},
             #{data_img_list},
             #{data_img_mx},
             #{data_url},
             #{data_good},
             #{data_dir},
             #{data_type},
             #{data_country},
             #{data_year},
             #{data_note},
             #{count_people},
             #{count_score},
             #{gmt_create}
            )
    </insert>
</mapper>
