<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.heycolor.yunziyuanbackend.mapper.ManageMapper">
    <update id="updateUser">
        update myuser set user_state = #{userState} where id = #{id}
    </update>

    <select id="getUserReList">
        select * from myuser where user_type = 0
    </select>

    <insert id="addResource">
        insert into mydata (data_title, data_state, data_img_list, data_img_mx, data_url, data_good, data_dir, data_type, data_country, data_year, data_note, count_people, count_score, gmt_create)
        VALUES (#{dataTitle},#{dataState},#{dataImgList},#{dataImgMx},#{dataUrl},#{dataGood},#{dataDir},#{dataType},#{dataCountry},#{dataYear},#{dataNote},#{countPeople},#{countScore},#{gmtCreate})
    </insert>

    <update id="updateResource">
        update mydata set
            data_title = #{data_title},
            data_state = #{data_state},
            data_img_list = #{data_img_list},
            data_img_mx = #{data_img_mx},
            data_url = #{data_url},
            data_state = #{data_state},
            data_dir = #{data_dir},
            data_type = #{data_type},
            data_country = #{data_country},
            data_year = #{data_year},
            data_note = #{data_note},
            count_score = #{count_score},
            count_people = #{count_people} where id = #{dataId}
    </update>

    <delete id="deleteResource">
        delete from mydata where id = #{dataId}
    </delete>

    <select id="getResourceeList" resultType="com.heycolor.yunziyuanbackend.DAOManage.ResourceRe">
        select * from mydata order by id desc
    </select>

   <select id="getManagerReList" resultType="com.heycolor.yunziyuanbackend.DAOManage.ManagerRe">
        select * from myuser where user_type = 1
   </select>

    <delete id="deleteManager">
        delete from myuser where id = #{id} and id != #{operateId}
    </delete>

    <update id="restUserPassword">
        update myuser set user_psw = #{user_psw} where id  = #{id} and id != #{operateId}
    </update>

</mapper>
